html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: #f4f4f4;
  background: #333;

  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hero {
  margin: 20px;
  padding: 20px;
  border: 2px solid seagreen;
}

button {
  width: 50px;
}
